/* Application-wide Styles */
h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 140%;
  }
  h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
  }
 

  /* everywhere else */
  * {
    font-family: Arial, Helvetica, sans-serif;
  }
/*  ---------------------------------------------------------------------------     */
  label {
    color: #171b1d;
    font-weight: bold;
  }
  input {
    font-size: 1em;
    padding: .5rem;
  }
  button {
    margin-top: 20px;
    background-color: #eee;
    padding: 1rem;
    border-radius: 4px;
    font-size: 1rem;
  }
  button:hover {
    background-color: #cfd8dc;
  }
  button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
  }



  /*--------------------------------------------*/
 
  
  
 

  h2 {
    text-align: center;
  }
  
  .heroes-menu {
    padding: 0;
    margin: auto;
    max-width: 1000px;
  
    /* flexbox */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: flex-start;
  }
  
  a {
    background-color: #3f525c;
    border-radius: 2px;
    padding: 1rem;
    font-size: 1.2rem;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    text-align: center;
    width: 100%;
    min-width: 70px;
    margin: .5rem auto;
    box-sizing: border-box;
  
    /* flexbox */
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
  }
  
  @media (min-width: 600px) {
    a {
      width: 18%;
      box-sizing: content-box;
    }
  }
  
  a:hover {
    background-color: #000;
  }

   .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color:#405061;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    min-width: 16px;
    text-align: right;
    margin-right: .8em;
    border-radius: 4px 4px 4px 4px;
  }

  
   

  .editbutton {
    
    background-color: #626262;
    padding: 0.2em 0em 0em 0.2em;
    border-radius: 4px 4px 4px 4px;
    display: flex;
    
    justify-content: center;
    flex-wrap: nowrap;
    
  }

  .backbutton {
    
    background-color: #626262;
    padding: 0.2em 0em 0em 0.2em;
    border-radius: 4px 4px 4px 4px;
    display: flex;
    max-width: 85px;
    justify-content: center;
    flex-wrap: nowrap;
  }
    
/* input animations */
.page{
  align-items: center;
  display: flex;
  justify-content: center;
  
}

.background {
  
  background-color: #e4e4e4;
  padding: 10px;
  border-radius: 4px 4px 4px 4px;
  display: flex;
  flex-shrink: 1;
  justify-content: center;
  flex-wrap: wrap;
  align-content: stretch;
  max-width: 580px;
  min-width: 550px;
  
  
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  width: auto;
  padding: 10px;
}



.name-form-title{
  
  position: relative;
  width: 100px;
  min-width: 50px;
  overflow: hidden;
}

.name-form-name{

  position: relative;
  width: 50%;
  min-width: 100px;
  overflow: hidden;
}

.name-form-location{
  position: relative;
  width: 50%;
  min-width: 100px;
  overflow: hidden;
}

.name-form-email{
  position: relative;
  width: 300px;
  
  overflow: hidden;
}

.name-form-cell{
  position: relative;
  width: 50%;
  min-width: 100px;
  overflow: hidden;
}

body {
  
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif
}

.form{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 50%;
  position: relative;
  align-items: center;
  overflow: hidden;

}

.form input {
  width: 100%;
  /*height: 100%;*/
  color: #595f6e;
  padding-top: 20px;
  border: none;
  outline: none;
}

.form label {
  position: absolute;
  bottom: 0px;
  left: 0%;
  width: 100%;
  /*height: 100%;*/
  pointer-events: none;
  border-bottom: 1px solid black;
}

.form label::after{
  content: "";
  position: absolute;
  left: 0px;
  bottom: -1px;
  /*height: 100%;*/
  width: 100%;
  border-bottom: 3px solid #5fa8d3;
  transform: translateX(-100%);
  transition: transform 0.3s ease;

}

.content-name {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}

.form input:focus + .label-name .content-name, 
.form input:valid + .label-name .content-name {
  transform: translateY(-150%);
  font-size: 14px;
  color: #5fa8d3;
}

.form input:focus + .label-name::after, .form input:valid + .label-name::after{
  transform: translateX(0%);
}



.row {
  display: flex;
}

.mr-1 {
  margin-right: 0.5em;
}